.header-94kt {
  a {
    text-decoration: none;
  }
  .img-logo {
    background-image: url(/public/images/polynguo_logo.webp);
    background-position: center;
    background-size: contain;
    height: 3rem;
    width: 3rem;
  }
}
