.card-sets-67th {
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  display: grid;

  .card-set-67th__set {
    width: 100%;

    &:hover {
      box-shadow: 0 0 1rem var(--dr-delta);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      scale: 1.01;
    }

    .card-set-67th__thumbnail {
      height: 20rem;
      width: 100%;
    }
  }
}
